.bg-green-custom{
    background-color: #95C11F;
}

.bg-white-custom{
    background-color: #FFFFFF;
}

.bg-black-custom{
    background-color: #000000;
}

.bg-gray-custom{
    background-color: #212121;
}