<h1 class="text-center text-2xl text-cinza font-semibold mb-5">CONFERÊNCIA</h1>
<hr class="mb-10">


<select name="" id="bingoSelect" class="border px-4 py-2 rounded-sm">
    <option selected disabled value="">Selecione o Bingo</option>
    <% bingos.forEach(e => { %>
     <option value="<%= e._id  %>"><%= e.title  %></option>
    <% }) %>
</select>

<br>
<hr>
<br>

<div>
    <label for="insertPedra" class="text-sm">Digite Numero da Pedra</label><br>
    <input type="text" placeholder="PEDRA" id="insertPedra" class="border px-4 py-2 border-gray-300 rounded-sm ">
</div>

<br>
<hr>
<br>

<div>
    <h1 id="ultimaPedra" class="m-auto  text-center text-5xl bg-blue-500 text-white font-semibold rounded-full w-40 h-40 flex items-center justify-center">BINGO</h1>

    <div>
        <h2 class="text-2xl text-gray-600">Pedras</h2>
        <hr>
        <ul id="pedrasDigitadas" class="grid grid-cols-12 w-full  border gap-5 gap-y-5"></ul>
    </div>
</div>



  
<br>
<br>

<h2 class="text-2xl text-gray-600">Rank</h2>
<hr>
<ul id="rankList"></ul>





<script src="/js/page/conferir.js"></script>