<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    



    <section class="border border-red-500 h-screen  ">

        <%- include('./components/navbar.ejs') %> 
   
        <!-- screen -->
        <div class="border border-blue-600 flex    bg-gray-50" style=" height: calc(100vh - 90px);">
            <%- include('./components/sidebar.ejs') %> 

            <h1 class="p-10 text-7xl pb-10 text-gray-200">BEM VINDO</h1>
        </div>
    </section>

    
</body>
</html>