
<h1 class="text-center text-2xl text-cinza font-semibold mb-5">VALIDAR CARTELAS VENDIDAS</h1>
<hr class="mb-10">
            
<section class="space-x-2 mb-5">
    <div class="inline-block">
        <label for="cardsSelect" class="text-gray-600">Selecionar Cartela:</label> <br>
        <select name="" id="cardsSelect" class="border px-8 py-2 mb-2">
            <option value="" disabled selected>Cartelas</option>
            <% cards.map(e => { %>
                <option value="<%= e._id %>"><%= e.title  %></option>
            <% }) %>
        </select>
    </div>

    <div class="inline-block">
        <label for="filterNumerBingo" class="text-gray-600">Filtrar por numero:</label> <br>
        <input id="filterNumerBingo" type="number" class="px-8 py-2 border" placeholder="Numero do Bingo">
    </div>
</section>

    

<table class="w-full border">
    <thead >
        <tr class="bg-gray-200 text-xs font-semibold uppercase text-center ">
            <th class="p-2 border border-gray-300">Numero</th>
            <th class="p-2 border border-gray-300">Nome Comprador</th>
            <th class="p-2 border border-gray-300">Contato</th>
            <th class="p-2 border border-gray-300">Endereço</th>
            <th class="p-2 border border-gray-300">Cpf</th>
            <th class="p-2 border border-gray-300">Vendedor</th>
            <th class="p-2 border border-gray-300">Status</th>
            <th class="p-2 border  border-gray-300">Salvar Alterações</th>
        </tr>
    </thead>
    <tbody id="listBingo" ></tbody>


</table>
<div class="mt-10 m-auto border  items-center justify-center p-4 hidden" id="paginacao">

    <nav class=" rounded-lg border overflow-hidden ">
        <ul class="flex items-center justify-center space-x-2 ">
            <li class="px-4 py-2 bg-verde text-white hover:brightness-90">
                <button class="" id="btnPrevious" onclick="mudarListagem(0)" >Anterior</button>
            </li>

            <div id="listagem" class="flex items-center justify-center space-x-2 "></div>

            <li class="px-4 py-2 bg-verde text-white hover:brightness-90">
                <button class="" id="btnNext" onclick="mudarListagem(5)" >Próximo</button>
            </li>
        </ul>
    </nav>
</div>

<script src="/js/page/registerCardsSold.js"></script>

