<h1 class="text-center text-2xl text-cinza font-semibold mb-5">VALIDAR CARTELAS VENDIDAS</h1>
<hr class="mb-10">
            
<section class="space-x-2 mb-5">
    <div class="inline-block">
        <label for="cardsSelect" class="text-gray-600">Selecionar Cartela:</label> <br>
        <select name="" id="cardsSelect" class="border px-8 py-2 mb-2">
            <option value="" disabled selected>Cartelas</option>
            <% cards.map(e => { %>
                <option value="<%= e._id %>"><%= e.title  %></option>
            <% }) %>
        </select>
    </div>

    <div class="inline-block">
        <label for="filterNumerBingo" class="text-gray-600">Filtrar por numero:</label> <br>
        <input id="filterNumerBingo" type="number" class="px-8 py-2 border" placeholder="Numero do Bingo">
    </div>
</section>

    

<table class="w-full border">
    <thead >
        <tr class="bg-gray-200 text-xs font-semibold uppercase text-center ">
            <th class="p-2 border border-gray-300">Numero</th>
            <th class="p-2 border border-gray-300">Nome Comprador</th>
            <th class="p-2 border border-gray-300">Contato</th>
            <th class="p-2 border border-gray-300">Endereço</th>
            <th class="p-2 border border-gray-300">Cpf</th>
            <th class="p-2 border border-gray-300">Vendedor</th>
            <th class="p-2 border border-gray-300">Status</th>
            <th class="p-2 border  border-gray-300">Salvar Alterações</th>
        </tr>
    </thead>
    <tbody id="listBingo" ></tbody>
</table>


<!-- Filtro numero bingo -->
<script>
    const filterNumerBingo = document.getElementById('filterNumerBingo')
    
    filterNumerBingo.addEventListener('keyup', (e)=>{
        if(e.keyCode == 13){
            const filterNumber = document.querySelectorAll('.filterNumber')
            console.log('enter')
            console.log(filterNumber.length)
   
            // Limpar
            filterNumber.forEach((e)=>{
                e.classList.remove('hidden')
            })


            //Filtar
            filterNumber.forEach((e)=>{
                let number = e.getAttribute('name')
               
                if(number != filterNumerBingo.value){
             
                    e.classList.add('hidden')
                }
            })
            
            //Mostrar Todos
            if(filterNumerBingo.value == ''){
                filterNumber.forEach((e)=>{
                    e.classList.remove('hidden')
                })
            }
 
        }
    })
</script>

<!-- Buscar por cartela -->
<script>
    const cardsSelect = document.getElementById('cardsSelect')

    cardsSelect.addEventListener('change', (e)=>{
        getListCardBingo(e.target.value)
    })

    function getListCardBingo(id){
        fetch(`card/${id}`, {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        })
        .then(res => res.json())
        .then(res => {
            renderList(res)
        })
    }
    
    function formatarData(timestamp) {
    if (!timestamp) {
        return "Timestamp não definido";
    }

    const date = new Date(timestamp);

    const dia = String(date.getDate()).padStart(2, '0');
    const mes = String(date.getMonth() + 1).padStart(2, '0');
    const ano = date.getFullYear();

    const hora = String(date.getHours()).padStart(2, '0');
    const minuto = String(date.getMinutes()).padStart(2, '0');

    return `${dia}/${mes}/${ano} - ${hora}:${minuto}`;
}

    function renderList(res){
        const listBingo = document.querySelector('tbody#listBingo')
        let lista = ''
        
        res.bingoCards.map((e, index) => {
            const info = res.bingosSold.find(e => e.index == index)
        
            lista += `
                <tr class="bg-white text-sm filterNumber" name="${index + 1}">
                    <td class="p-2 border" >
                        <p class="text-center" name="index">${index + 1}</p>
                    </td>

                    <td class="p-2 border">
                        <input type="text" value="${info && info.name ? info.name : ''}" name="name" class="p-2" placeholder="Nome do comprador">
                    </td>

                    <td class="p-2 border">
                        <input type="tel"  value="${info && info.contato ? info.contato : ''}" name="contato" class="p-2 w-40" placeholder="Numero para contato">
                    </td>

                    <td class="p-2 border">
                        <input type="text"  value="${info && info.endereco ? info.endereco : ''}" name="endereco" class="p-2 " placeholder="rua: N99 - Bairro ">
                    </td>
     
                    <td class="p-2 border">
                        <input type="text"  value="${info && info.cpf ? info.cpf : ''}" name="cpf" class="p-2  w-28 " placeholder="000.000.000-00">
                    </td>

                    <td class="p-2 border">
                        <input type="text"  value="${info && info.vendedor ? info.vendedor : ''}" name="vendedor" class="p-2  " placeholder="Nome do Vendedor">
                    </td>
      
                    <td class="border">
                        <select class="p-2 text-sm w-full h-full" name="status">
                            <option value="true" ${info && info.status === true ? 'selected' : ''}>VENDIDO</option>
                            <option value="false" ${info && info.status == true ? '' : 'selected'}>NÃO VENDIDO</option>
                        </select>
                    </td>

                    <td class="p-2 border">
                        <button onclick="updateData(this)" class="p-2 m-auto block bg-blue-600 hover:bg-blue-500 rounded-sm hover:shadow text-white">SALVAR</button>
                    </td>
                </tr>
            `
        
            listBingo.innerHTML = lista
        });

        
    }

    function updateData(button) {
        const tr = button.parentNode.parentNode
        const item = {
            cartela_id: document.getElementById('cardsSelect').value,
            index: Number(tr.querySelector('p[name="index"]').innerHTML) - 1,
            name: tr.querySelector('input[name="name"]').value,
            contato: tr.querySelector('input[name="contato"]').value,
            endereco: tr.querySelector('input[name="endereco"]').value,
            status: tr.querySelector('select[name="status"]').value,
            cpf: tr.querySelector('input[name="cpf"]').value,
            vendedor: tr.querySelector('input[name="vendedor"]').value,
        }


        fetch('card/sold',{
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(item)
        })
        .then(res => res.json())
        .then(res => {
            button.classList.replace('bg-blue-600', 'bg-green-600')
            setTimeout(() => {
                button.classList.replace('bg-green-600', 'bg-blue-600')
            }, 1000);
        })
    }
</script>
