<aside id="default-sidebar" class=" bg-cinza text-gray-50  h-full col-span-1  row-span-10 " >
    
       
    <ul class="space-y-2 font-medium p-5">
        <!-- Nova cartela -->
        <li>
            <a href="/nova-cartela" title="Cadastrar Novo Bingo" class="flex items-center p-2  rounded-lg  hover:bg-gray-800  group">
                <img src="/icons/icons8-bingo-100.png" class="w-8" alt="">
                <span class="ms-3">NOVO</span>
            </a>
        </li>
    
        <!-- Cartelas Cadastradas -->
        <li>
            <a href="/cartelas" title="Listar Bisgos Cadastrados"  class="flex items-center p-2  rounded-lg  hover:bg-gray-800  group">
                <img src="/icons/icons8-lista-100.png" class="w-8" alt="">
                <span class="ms-3">LISTA</span>
            </a>
        </li>

            
        <!-- Registrar cartelas vendidas -->
        <li>
            <a href="/registrar-cartelas-vendidas" title="Registrar Cartelas Vendidas" class="flex items-center p-2  rounded-lg  hover:bg-gray-800  group">
                <img src="/icons/icons8-moedas-100.png" class="w-8" alt="">
                <span class="ms-3">REGISTRO</span>
            </a>
        </li>
        
        <!-- Conferir bingo -->
        <li>
            <a href="/conferir" title="Conferir Bingo" class="flex items-center p-2  rounded-lg  hover:bg-gray-800  group">
                <img src="/icons/icons8-lottery-100.png" class="w-8" alt="">
                <span class="ms-3">CONFERÊNCIA</span>
            </a>
        </li>
    </ul>

    
</aside>