<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF com Conteúdo em Páginas Alternadas</title>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .folha {
            /* (210mm x 297mm) */
            width: 210mm;
            height: 297mm;
            page-break-inside: avoid;
            page-break-after: always;
            background-color: gray;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .conteudo {
            color: white;
            text-align: center;
            padding: 20px;
            background-size: cover;
            height: 100%;
            position: relative;
        }

        .bingoContainer {
            display: grid;
            gap: 10mm;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            justify-content: center;
        }

        .bingoContainer p {
            width: 80mm;
            height: 80mm;
            margin: auto;
            padding: 5mm;
            border: 2px solid blue;
        }

        .pageNumber {
            position: absolute;
            top: 10mm;
            right: 10mm;
            background-color: red;
            color: white;
            font-size: 20px;
            padding: 5px 10px;
        }
    </style>
</head>

<body>
    <!-- container -->
    <section class="container">
        <% if (typeof bingos != 'undefined' && bingos) { %>
            <% bingos.forEach(element => { %>
                <!-- conteúdo -->
                <div class="folha">
                    <p class="pageNumber"><%= element.number %></p>
                    <div class="conteudo" style="background-image: url('<%= background %>');">
                        <h1>Conteúdo da Página 1</h1>
                        <p>Seu conteúdo vai aqui...</p>
                        <div class="bingoContainer">
                            <div class="bingoGrid">
                                <p>B</p>
                                <p>I</p>
                                <p>N</p>
                                <p>G</p>
                                <p>O</p>
                                <% for (let j = 0; j < element.length; j++) { %>
                                    <p><%= element[j] %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </section>
</body>

</html>
