<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF com Conteúdo em Páginas Alternadas</title>
    
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .folha {
            /* (210mm x 297mm) */
           
            box-sizing: border-box;
            width: 209.9mm;
            height: 296.86mm;
            display: block;
            background-color: gray;
            page-break-inside: avoid;
            page-break-after: always;
           
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .conteudo {
            
            color: white;
            text-align: center;
            padding: 20px;
            background-image: url('<%= background %>');
            background-position: center;
            background-size: 100% 100%; /* Preenche completamente a largura e altura da div */
            height: 296.86mm;
            position: relative;
        

        }
        .bingoContainer {
            position: absolute;
            top: 25%;
            left: 0%;
            width: 100%;
            margin: auto;
            display: grid;
            gap: 10mm;
            grid-template-columns: 1fr 1fr;  /* Corrigido para garantir duas colunas */
            z-index: 99;
            align-items: center;
            justify-content: center;
        }

        .bingoContainer img {
            width: 80mm;
            height: auto;
            margin: auto;
            padding: 5mm;
        }

    </style>
</head>
<body>
    <!-- container -->
    <section class="container">

        <% for( let i = 0; i < pages; i++ ) { %>
            <!-- conteúdo -->
            <div class="folha">
                <div class="conteudo">
                
                    <h1>Conteúdo da Página 1</h1>
                    <p>Seu conteúdo vai aqui...</p>
                    <div class="bingoContainer">


                        <% for( let i = 0; i < bingoQuantity; i++ ) { %>
                            <img src="https://geradornv.com.br/wp-content/uploads/2023/03/cartela-bingo-75-numeros.png" alt="">
                        
                        <% } %>
                        
                    </div>
                </div>
                
            </div>
        <% } %>
    </section>
</body>
</html>
